//  • ––––––––––––––––––––––––––––––––––––––––––––––––– •
//  | TABLE                                             |
//  • ––––––––––––––––––––––––––––––––––––––––––––––––– •
//  | col   | colgroup  | table      | tbody            |
//  ·       ·           ·	           ·                  ·
//  | td    | tfoot     | th         | thead            |
//  ·       ·           ·            ·                  ·
//  | tr    |           |            |                  |
//  • ––––––––––––––––––––––––––––––––––––––––––––––––– •

table{
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  border: 1px dashed #e0e0e0;
  tr{
    min-height: calc($_1 * $pc / 12);
    max-height: calc($_1 * $pc / 12);
    width: $_1 * $pc;

    td{
      width: calc($_1 * $px / 6);
      text-align: center;
    }
  }
  
}

table{

  tr {
    min-width: calc($_1 * $pc);
    border: 1px solid gray;
  }

  // width: calc($_1 / 6 * $pc);

}


td,
th {
  padding: 0;
  &:not([align]) {
    text-align: inherit
  }
}