
//  Architecture | –––––––––––––––––––––––––––––––––––– |      
//  • –––––––––– • –––––––––– • –––––––––– • –––––––––– •
//  | article    | aside      | details    | div        |
//  • –––––––––– • –––––––––– • –––––––––– • –––––––––– •
//  | footer     | header     | hgroup     | iframe     |
//  • –––––––––– • –––––––––– • –––––––––– • –––––––––– •
//  | main       | nav        | section    | span       |
//  • –––––––––– • –––––––––– • –––––––––– • –––––––––– •


// make x and y only and correspond to axis of navigation 


nav{
  order: 1;
}
main {
  order: 2;
}
aside{
  order: 3;
}
footer{
  order: 4;
}


main, nav, footer,{
  background-color: #FF4F00;
}

main{
  min-height: 90%;
}

._01, 
._02, 
._02x,
._02y, 
._02z,
._03,
._03x,
._03y,
._03z,
._04{

  @include w(100%, 100%, 100%);
  @include h(100%, 100%, 100%);
  @include trbl(cc,fixed);
  display:  grid;
}


._01{
  grid-template-columns: 1fr;
  grid-template-rows:    1fr;
  padding: 16px;
}

._02{
  grid-template-columns: 1fr;
  grid-template-rows:    48px calc(100% - 64px);
  grid-template-areas:   nav main;
  grid-gap: 16px;
  padding: 16px;

}

._02x{

  grid-template-rows:    calc(100% - 64px) 48px;

  

}

._02y{}

._02z{}

._03{}

._03x{}

._03y{}

._03z{}

._04{}




















// header
// nav
// main
// aside
// footer


















.g *{
  background-color: pink;
}


// stay relative 
iframe {
  @include        w(100%, 100%, auto);
  @include        h(100%, 100%, auto);
  position:                   relative;
  overflow:                     hidden;
}




  






